# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Projects\PycharmProjects\How You Say It Matters Measuring the Impact of Verbal Disfluency Tags on Automated Dementia Detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
